@import "tailwindcss";
#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme static {
  --color-primary: #ea2e0e;
}

button {
  cursor: pointer;
}

/* Hide scrollbar but keep functionality */
.scrollbar-transparent::-webkit-scrollbar {
  height: 8px; /* scrollbar height */
}

.scrollbar-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
}

/* Firefox */
.scrollbar-transparent {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
